body {
    background-size: cover;
  }
  
  .container.h-100 {
    height: 100vh;
  }
  
  .d-flex.justify-content-center.h-100 {
    align-items: center;
  }
  
  .user_card {
    height: 400px;
    width: 350px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    padding: 30px;
    color: white;
  }
  
  .brand_logo_container {
    margin: 10px;
    text-align: center;
  }
  
  .brand_logo {
    width: 100px;
  }
  
  .form_container {
    margin-top: 100px;
  }
  
  .input-group.mb-3 {
    margin-bottom: 25px;
  }
  
  .input-group-append {
    margin-left: -1px;
    background: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0 4px 4px 0;
  }
  
  .input_user,
  .input_pass {
    border: none;
    border-bottom: 1px solid #ced4da;
    background: transparent;
  }
  
  .custom-checkbox {
    margin-top: 20px;
  }
  
  .login_container {
    margin-top: 20px;
  }
  
  .btn.login_btn {
    background: #2980b9;
    color: white;
    border-radius: 10px;
    padding: 10px;
  }
  
  .btn.login_btn:hover {
    background: #2e86c1;
    cursor: pointer;
  }