{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sm-12 text-center">
            <h1 class="display-2">Połącz się ze swoimi przyjaciółmi</h1>
            <p class="mt-3 lead">Szukasz przyjaźni, nowej pracy, randki? Nasza aplikacja Ci w tym pomoże.</p>
            <div class="d-flex justify-content-center mt-5">
                <a href="#" class="btn btn-light mr-2">Login</a>
                <a href="/SocialApp/SocialApp/landing/templates/login-page/login.html" class="btn btn-dark">Register</a>
            </div>
        </div>

    </div>
</div>
{% endblock content %}